# Eclipse
.metadata
.settings/
.classpath
.project
.springBeans
.recommenders/
.apt_generated/
.externalToolBuilders

# Build targets
target/
reports/

# IntelliJ
.idea/
**/*.iml
**/.idea/

# JRebel
rebel.xml
rebel-remote.xml

# Java annotation processor (APT)
.factorypath

# Node
npm-debug.log
node/
node_modules/
logs/

# Grunt usually compiles files inside this directory
dist/

# Mac
.DS_Store

# NetBeans
nb-configuration.xml
*.exe.stackdump